<!DOCTYPE html>

<meta charset = "utf-8">
<link rel="stylesheets" href = "kintaipages.scss">


<html>
 <head>
  <% provide(:title, "Top")%>
 </head>


  <body>
    <div class = "container">
    <div class = "row">
      <div class= "col-md-10 col-md-offset-1">
        <div class = "center jumbotron" id="top-btn">
              <h1>勤怠システム</h1>
              <%= link_to "ログイン",login_path,  class:"btn btn-primary btn-md  form-acoun" %>
              <ul>アカウントの作成は<%= link_to "こちら",new_user_path %>から</ul>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>