<% provide(:title, 'トップ')%>
<!DOCTYPE html>
<html>
 <head>
 
 </head>


  <body>
    <div class = "row">
      <div class= "col-md-12">
        <div class = "center jumbotron" id="top-btn">
              <h1>勤怠システム</h1>
              <%= link_to "ログイン","#", class:"btn btn-primary btn-md  form-acoun" %>
              <p>アカウントの作成は<%=link_to "こちら","#" %>から</p>
        </div>
      </div>
    </div>
  </body>
</html>