@import "bootstrap-sprockets";
@import "bootstrap";

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.body{
  padding-top: 100px;
}

 .label-login{
  margin-top: 5px;
 }
 
 .btn-login{
  margin-top: 10px;
 }
 
 .checkbox-login{
  width: auto;
  margin-top: 25px;
  
 }
 .checkbox-login {
  width: auto;
  margin-left: 25px;
  span {
    font-weight: normal;
  }
}

.modal-dialog-center {
  padding-top: 10%;
}

.btn{
  background-color: #a0a0a0;
  color: #000;
}

